{% extends "base.html" %} {% block title %}Check Out{% endblock %}

{% block content %}
{% if book.availability == 'Yes' %}
<div class="card">
    <h5 class="card-header">Available</h5>
    <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text">{{ book.author }}</p>
        <a href="{{ url_for('views.checkOut', id=material.id, type=material.type) }}" class="btn btn-primary">Check Out</a>
    </div>
</div>
{% else %}
<div class="card">
    <h5 class="card-header">Not Available</h5>
    <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text">{{ book.author }}</p>
        <a class="btn btn-primary" disabled>Enter Waiting List</a>
    </div>
</div>
{% endif %}
{% endblock %}
